<div class="container">
  <div class="table-filter-wrapper">
    <mat-card class="table-filter-card" style="font-size: 14px">
      <div class="row">
        <div class="col-12" style="text-align: center;">

          <p>
            Tus horas de sala disponibles
          </p>

          <!-- Filter field -->
          <mat-form-field appearance="fill">
            <mat-label>Horas sala</mat-label>
            <input [value]="horasSalaLeader" disabled matInput id="nombre">
          </mat-form-field>

        </div>
        <div class="col-12 button-filter-wrapper">

          <!-- Filter button -->
          <button class="primary" (click)="onSubmit()" mat-raised-button>Guardar</button>

        </div>
      </div>
    </mat-card>
  </div>


  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 accent nu-table-body table-responsive">

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- apellido Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <!-- horas_sala Column -->
      <ng-container matColumnDef="horas_sala">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Horas sala totales</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.horas_sala}} </td>
      </ng-container>

      <!-- horas_sala Column -->
      <ng-container matColumnDef="horas_sala_consumidas">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Horas sala consumidas </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.horas_sala_consumidas}} </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Horas Sala </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <mat-form-field appearance="fill" class="table-width">
            <mat-label>Horas</mat-label>
            <input matInput type="number" min="0" max="99" (input)="hoursChanged($event, element.horas_sala, element.id)" (keydown)="onKeyDown($event, element.horas_sala, element.id)" [value]="element.horas_sala">
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" [ngStyle]="row.id === userId && {'display': 'none'}">
      </tr>
    </table>
    <div *ngIf="dataSource.loading$ | async" class="mat-spinner-wrapper mat-spinner-table">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <mat-paginator [length]="coworkersCount ? coworkersCount : 0" [pageSize]="10" [pageSizeOptions]="[10, 20]"
      class="accent" showFirstLastButtons></mat-paginator>
  </div>
</div>
