<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="draggable-div" cdkDragHandle>
    <mat-icon aria-hidden="false" class="calendar-top-icon icon-left" aria-label="handle drag icon">drag_handle
    </mat-icon>
    <a (click)="close()">
        <mat-icon aria-hidden="false" class="calendar-top-icon icon-right" aria-label="handle drag icon">close
        </mat-icon>
    </a>
</div>
<div class="container" *ngIf="!loading">
    <h3 mat-dialog-title>
        Agregar reserva
    </h3>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Usuario"
                 aria-label="Number"
                 matInput
                 [formControl]="userControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user.nombre + ' ' + user.apellido">
              {{user.nombre}} {{user.apellido}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
</div>
<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>