<div *ngIf="!loading" class="container">
    <h2 mat-dialog-title>Agregar Coworker</h2>
    <form [formGroup]="createCoworkerForm" (ngSubmit)="submit()" #formDir="ngForm">
        <mat-dialog-content>

            <h4 mat-dialog-title>Datos personales</h4>
            <div class="row">

                <!-- Nombre -->
                <div class="col-lg-4 col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" id="nombre">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.nombre.invalid && (formDir.submitted || createCoworkerForm.controls.nombre.dirty || createCoworkerForm.controls.nombre.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.nombre.errors.required" class="white-color">
                            Nombre requerido
                        </div>
                    </div>
                </div>

                <!-- Apellido -->
                <div class="col-lg-4 col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellido" id="apellido">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.apellido.invalid && (formDir.submitted || createCoworkerForm.controls.apellido.dirty || createCoworkerForm.controls.apellido.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.apellido.errors.required" class="white-color">
                            Apellido requerido
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="col-lg-4 col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" id="email">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.email.invalid && (formDir.submitted || createCoworkerForm.controls.email.dirty || createCoworkerForm.controls.email.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.email.errors.required" class="white-color">
                            Email requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- DNI -->
                <div class="col-lg-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Dni</mat-label>
                        <input matInput formControlName="dni" id="dni">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.dni.invalid && (formDir.submitted || createCoworkerForm.controls.dni.dirty || createCoworkerForm.controls.dni.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.dni.errors.required" class="white-color">
                            DNI requerido
                        </div>
                    </div>
                </div>

                <!-- Direccion -->
                <div class="col-lg-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion" id="direccion">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.direccion.invalid && (formDir.submitted || createCoworkerForm.controls.direccion.dirty || createCoworkerForm.controls.direccion.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.direccion.errors.required" class="white-color">
                            Dirección requerido
                        </div>
                    </div>
                </div>

                <!-- Celu -->
                <div class="col-lg-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input matInput formControlName="celular" id="celular">
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.celular.invalid && (formDir.submitted || createCoworkerForm.controls.celular.dirty || createCoworkerForm.controls.celular.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.celular.errors.required" class="white-color">
                            Celular requerido
                        </div>
                    </div>
                </div>

                <!-- Fecha Nac -->
                <div class="col-lg-3 col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput formControlName="fecha_nacimiento" [matDatepicker]="pickerFechaNac">
                        <mat-datepicker-toggle matSuffix [for]="pickerFechaNac"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFechaNac></mat-datepicker>
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.fecha_nacimiento.invalid && (formDir.submitted || createCoworkerForm.controls.fecha_nacimiento.dirty || createCoworkerForm.controls.fecha_nacimiento.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.fecha_nacimiento.errors.required" class="white-color">
                            Fecha de Nacimiento requerida
                        </div>
                    </div>
                </div>
            </div>
            <h4 mat-dialog-title>Plan</h4>

            <!-- Plan  -->
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Plan</mat-label>
                        <mat-select formControlName="plan" (selectionChange)="onPlanSelected($event.value)">
                            <mat-option *ngFor="let plan of planes" [value]="plan.id">
                                {{plan.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="createCoworkerForm.controls.plan.invalid && (formDir.submitted || createCoworkerForm.controls.plan.dirty || createCoworkerForm.controls.plan.touched)"
                        class="alert white-color">
                        <div *ngIf="createCoworkerForm.controls.plan.errors.required" class="white-color">
                            Plan requerido
                        </div>
                    </div>
                </div>
            </div>

            <!-- Grupo -->
            <div class="row" *ngIf="planOfiPrivadaSelected">

                <div class="col-lg-6 col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Equipo</mat-label>
                        <mat-select formControlName="grupo">
                            <mat-option *ngFor="let grupo of grupos" [value]="grupo.value">
                                {{grupo.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Roles -->
                <div class="col-lg-6 col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol">
                            <mat-option *ngFor="let rol of roles" [value]="rol.value">
                                {{rol.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div *ngIf="!planOfiPrivadaSelected">
                <h4 mat-dialog-title>Fechas/horarios</h4>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Hora desde</mat-label>
                            <mat-select formControlName="hora_desde">
                                <mat-option *ngFor="let time of times" [value]="time.value">
                                    {{time.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Hora hasta</mat-label>
                            <mat-select formControlName="hora_hasta">
                                <mat-option *ngFor="let time of times" [value]="time.value">
                                    {{time.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha desde</mat-label>
                            <input matInput formControlName="fecha_desde" [matDatepicker]="pickerDesde">
                            <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDesde></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha hasta (Opcional)</mat-label>
                            <input matInput formControlName="fecha_hasta" [matDatepicker]="pickerHasta">
                            <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                            <mat-datepicker #pickerHasta></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="planMovilSelected">
                    <section>
                        <mat-checkbox [checked]="true" (change)="onCheckboxPressed(0)" class="example-margin"
                            color='primary'>Lunes</mat-checkbox>
                        <mat-checkbox [checked]="true" (change)="onCheckboxPressed(1)" class="example-margin"
                            color='primary'>Martes</mat-checkbox>
                        <mat-checkbox [checked]="true" (change)="onCheckboxPressed(2)" class="example-margin"
                            color='primary'>Miercoles</mat-checkbox>
                        <mat-checkbox [checked]="true" (change)="onCheckboxPressed(3)" class="example-margin"
                            color='primary'>Jueves</mat-checkbox>
                        <mat-checkbox [checked]="true" (change)="onCheckboxPressed(4)" class="example-margin"
                            color='primary'>Viernes</mat-checkbox>
                    </section>
                </div>
            </div>


        </mat-dialog-content>

        <mat-dialog-actions>
            <div *ngIf="!loadingSubmit">
                <div class="form-group">
                    <button class="mat-button" type="button" (click)="close()">Cerrar</button>
                    <button type="submit" class="mat-raised-button primary">Guardar</button>
                </div>
            </div>
            <div *ngIf="loadingSubmit" class="mat-spinner-wrapper spinner-submit-padding">
                <mat-spinner [diameter]="25"></mat-spinner>
            </div>

        </mat-dialog-actions>
    </form>
</div>
<div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>