<div class="container">
    <mat-toolbar>
        <mat-toolbar-row>
            <h4>Brujula Coworking</h4>
        </mat-toolbar-row>
    </mat-toolbar>
    <form [formGroup]="loginForm" class="example-form">
        <div class="input-container">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" id="email">

            </mat-form-field>
            <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls.email.errors.required">
                    Email requerido
                </div>
            </div>
        </div>
        <div class="input-container">
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" id="password">
            </mat-form-field>
            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls.password.errors.required">
                    Contraseña requerida
                </div>
            </div>
        </div>
        <div class="input-container"><button mat-raised-button type="submit" (click)='onSubmit()'>Ingresar</button>
        </div>

    </form>
</div>