
.example-form {
    height: 100%;
    min-width: 100px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.example-full-width {
    width: 100%;
}

// .input-container {
//     position: relative;
//     margin-inline: auto;
//     margin-top: 10px;
//     width: 100%;
// }

.form-button {
    margin: 20px;
}

mat-form-field {
    color: white;
}