// Import bootstrap css globally
@import "~bootstrap/dist/css/bootstrap.css";
// Import _variables.css to the component's sass file where you want to use it.
@import "./theme.scss";



body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: $accent-light; }
mat-toolbar-row { background: $accent; }
.mat-drawer-inner-container{ background: $accent; }
.mat-drawer-content {background: $accent-light;}
.mat-calendar { background: $accent-light; }
.mat-option { background: $accent-light !important; }


.flexExpand {
    flex: 1 1 auto;
  }

.primary {
  background: $primary;
}

.primary-light {
  background: $primary-light;
}

.accent {
  background: $accent;
}

.accent-light {
  background: $accent-light;
}

.warn {
  background:$warn;
}

.white-background {
  background: white;
}

.white-color {
  color: white;
}


.alert {
  background: #f44336;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.mat-spinner-wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

table {
  width: 100%;
}

.table-wrapper {
  width: 90%;
  padding: 20px;
  margin: auto;
}

.table-filter-wrapper {
  width: 90%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.table-filter-card {
  background: $accent;
}

.button-filter-wrapper {
  text-align: center;
}

.fab{
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}


.mat-dialog-container {
  background: $accent !important;
  min-width: 300px;
  min-height: 300px;
  width: 100vw;
}

mat-dialog-actions {
  justify-content: end;
}

.padding-inline-10 {
  padding-inline: 10px;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

a:hover {
  color: white;
  text-decoration: none;
}

.snackbar {
  background: $accent-light;
  color: white;
}

.spinner-submit-padding {
  padding: 15px;
}

.mat-spinner-table {
  padding: 20px;
  background: $accent;
}