// Import _variables.css to the component's sass file where you want to use it.
@import "./theme.scss";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: $accent-light; }
mat-toolbar-row { background: $accent; }
.mat-drawer-inner-container{ background: $accent; }

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.flexExpand {
    flex: 1 1 auto;
  }

.primary {
  background: $primary;
}

.primary-light {
  background: $primary-light;
}

.accent {
  background: $accent;
}

.accent-light {
  background: $accent-light;
}

.warn {
  background:$warn;
}

.white-background {
  background: white;
}

.white-color {
  color: white;
}


.alert {
  background: #f44336;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.mat-spinner-wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

table {
  width: 100%;
}

.table-wrapper {
  width: 90%;
  padding: 20px;
  margin: auto;
}

.fab{
  right: 20px;
  bottom: 20px;
  position: fixed !important;
}

.mat-dialog-container {
  background: $accent !important;
  min-width: 300px;
  min-height: 300px;
  width: 100vw;
}

mat-dialog-actions {
  justify-content: end;
}

.example-full-width {
  padding-inline: 10px;
}

.mat-option {
  background: $accent !important;
}
