@import '~@angular/material/theming';
@include mat-core();

$my-app-accent: mat-palette($mat-gray,300);
$my-app-accent-light: mat-palette($mat-gray,50);
$my-app-primary:  mat-palette($mat-orange, 900);
$my-app-primary-light:  mat-palette($mat-orange, 800);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


// Export theme colors
$primary: mat-color($my-app-primary);
$primary-light: mat-color($my-app-primary-light);
$accent: mat-color($my-app-accent);
$accent-light: mat-color($my-app-accent-light);
$accent: mat-color($my-app-accent);
$warn: mat-color($my-app-warn);