<div class="flex">
  <mat-drawer-container fullscreen>
    <mat-drawer #drawer [mode]="getDrawerModeByWidth()">
      <mat-nav-list class="navigation-list">
        <a class="navigation-item" mat-list-item [routerLink]="['./']" (click)="drawer.close()"
          routerLinkActive="active">
          Mi Cuenta
        </a>
        <a *ngIf="isAdmin" class="navigation-item" mat-list-item routerLink="calendar" (click)="drawer.close()"
          routerLinkActive="active">
          Calendario de Salas
        </a>
        <a *ngIf="isAdmin" class="navigation-item" mat-list-item routerLink="groups" (click)="drawer.close()"
          routerLinkActive="active">
          Administrar Grupos
        </a>
        <a *ngIf="isAdmin" class="navigation-item" mat-list-item routerLink="coworkers" (click)="drawer.close()"
          routerLinkActive="active">
          Administrar Coworkers
        </a>
        <a *ngIf="isLeader" class="navigation-item" mat-list-item routerLink="groups-management" (click)="drawer.close()"
          routerLinkActive="active">
          Administrar Mi Grupo
        </a>
        <a class="navigation-item primary" mat-list-item (click)='logout()' routerLinkActive="active">Cerrar Sesión</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar>
        <mat-toolbar-row>
          <button *ngIf="!drawer.opened" mat-icon-button (click)='drawer.open()'>
            <mat-icon>menu</mat-icon>
          </button>
          <button *ngIf="drawer.opened" mat-icon-button (click)='drawer.close()'>
            <mat-icon>arrow_back</mat-icon>
          </button>
          <h4 class="title">Brujula Coworking</h4>
          <span class="flexExpand"></span>
          <a mat-raised-button (click)='logout()' class="primary responsive" routerLinkActive="active">Cerrar Sesión</a>
        </mat-toolbar-row>
      </mat-toolbar>

      <body>
        <router-outlet></router-outlet>
      </body>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
