<div class="flex">
    <mat-drawer-container>
        <mat-drawer #drawer mode="side">
            <mat-nav-list class="navigation-list">
            <a class="navigation-item" mat-list-item routerLink="#" routerLinkActive="active">
                Administrar Grupos
            </a>
            <a class="navigation-item" mat-list-item routerLink="#" routerLinkActive="active">
                Administrar Coworkers
            </a>
        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar>
                <mat-toolbar-row class="primary">
                    <button *ngIf="!drawer.opened" mat-icon-button (click)='drawer.open()'>
                        <mat-icon class="white-color">menu</mat-icon>
                    </button>
                    <button *ngIf="drawer.opened" mat-icon-button (click)='drawer.close()'>
                        <mat-icon class="white-color">arrow_back</mat-icon>
                    </button>
                    <h4 class="title white-color">Brujula Coworking</h4>
                    <span class="flexExpand"></span>
                    <a mat-raised-button (click)='logout()' class="accent white-color" routerLinkActive="active">Cerrar Sesión</a>
                </mat-toolbar-row>
            </mat-toolbar>
            <body class="primary-light">

            </body>
        </mat-drawer-content>
    </mat-drawer-container>
</div>